<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Snap Cot</title>
    @Styles.Render("~/Content/css", "~/Content/kendo")
    @Styles.Render("~/Content/background")
    @Styles.Render("~/Content/jqueryui")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("customstyles", required: false)
</head>
<body>
    <!--navbar-fixed-top-->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="@Url.Action("Index", "Home", new { area = string.Empty})">
                            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                        </a>
                    </li>
                    @*<li>@Html.ActionLink("Home", "Index", "Home", new { area = string.Empty}, null)</li>*@
                    <li>@Html.ActionLink("Products", "All", "Products", new { area = string.Empty }, null)</li>
                    <li>@Html.ActionLink("Producers", "All", "Producers", new { area = string.Empty }, null)</li>
                    <li>@Html.ActionLink("Comments", "All", "Comments", new { area = string.Empty }, null)</li>
                    <li>@Html.ActionLink("About", "About", "Home", new { area = string.Empty }, null)</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = string.Empty }, null)</li>
                    @if (this.User.IsInRole("Admin"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Add Product", "AddProduct", "ProductsAdmin", new { area = "Admin" }, null)</li>
                                <li>@Html.ActionLink("Add Producer", "AddProducer", "ProducersAdmin", new { area = "Admin" }, null)</li>
                                <li>@Html.ActionLink("Common", "Index", "Industry", new { area = "Admin" }, null)</li>
                            </ul>
                        </li>
                    }
                    @if (this.User.IsInRole("SupplyManager"))
                    {
                        <li>@Html.ActionLink("Orders", "All", "OrdersSupply", new { area = "SupplyManager" }, null)</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <!--class="container body-content"-->
    <div class="div-box">
        @RenderBody()
        <hr />
        <!--<footer> was in the same <div> for rendering content-body-->
        <footer class="text-center bo">
            <p>&copy; @DateTime.Now.Year - SnapCot</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("scripts", required: false)
</body>
</html>
