@model SnapCot.Web.Areas.SupplyManager.ViewModels.OrderDetailsViewModel
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<h2>Order number - @Model.Id</h2>
<p>Total Price: @Model.TotalPrice</p>
<p>Cerdit Limit: @Model.CreditLimit</p>
<p>Order Date: @Model.OrderDate.ToString("MMMM dd, yyyy")</p>
<p>Receive Date: @Model.ReceivedDate.ToString("MMMM dd, yyyy")</p>
<p>Shipping Terms: @Model.ShippingTerms</p>
<p>Transport Mode: @Model.TransportMode</p>
<p>User: @Model.User</p>
<p>Active: @Model.IsActive</p>
<p>Approved: @Model.IsApproved</p>

@Html.ActionLink("Back", "All", "OrdersSupply", new { sortOrder = string.Empty }, new { @class = "btn btn-success" })
@Html.ActionLink("Approve", "Approve", "OrdersSupply", new  { id = Model.Id}, new { @class = "btn btn-success" })
