@model SnapCot.Web.Areas.SupplyManager.ViewModels.OrderDetailsViewModel
@{
    ViewBag.Title = "Details";
}

<div class="div-box-body supplyarea image-size">
    <div class="container div-box-content">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Details</h2>
                <h2 class="text-center">Order number - @Model.Id</h2>
                <p class="text-center">Total Price: <strong class="text-danger">$@Model.TotalPrice</strong></p>
                <p class="text-center">Credit Limit: <strong class="text-danger">$@Model.CreditLimit</strong></p>
                <p class="text-center">Order Date: <strong>@Model.OrderDate.ToString("MMMM dd, yyyy")</strong></p>
                <p class="text-center">Receive Date: <strong>@Model.ReceivedDate.ToString("MMMM dd, yyyy")</strong></p>
                <p class="text-center">Shipping Terms: <strong>@Model.ShippingTerms</strong></p>
                <p class="text-center">Transport Mode: <strong>@Model.TransportMode</strong></p>
                <p class="text-center">User: <strong>@Model.User</strong></p>
                <p class="text-center">Active: <strong>@Model.IsActive</strong></p>
                <p class="text-center">Approved: <strong>@Model.IsApproved</strong></p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                @Html.ActionLink("Back", "All", "OrdersSupply", new { sortOrder = string.Empty }, new { @class = "btn btn-success" })
                @Html.ActionLink("Approve", "Approve", "OrdersSupply", new { id = Model.Id }, new { @class = "btn btn-success" })
            </div>           
        </div>

    </div>
</div>
