@model SnapCot.Web.Areas.Admin.ViewModels.AddProducerInputModel
@{
    ViewBag.Title = "AddProducer";
}

<h2>AddProducer</h2>
<<<<<<< HEAD
<<<<<<< HEAD
@using (Html.BeginForm("AddProducer", "ProducersAdmin", FormMethod.Post, new { @class = "form"}))
=======
@using (Html.BeginForm("AddProducer", "ProducerssAdmin", FormMethod.Post, new { @class = "form"}))
>>>>>>> master
=======
@using (Html.BeginForm("AddProducer", "ProducerssAdmin", FormMethod.Post, new { @class = "form"}))
>>>>>>> master
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger " })
    <br />
    @Html.EditorFor(m => m.Name)
    @Html.EditorFor(m => m.Address)
    @Html.EditorFor(m => m.Email)
    @Html.EditorFor(m => m.Telephone)
    @Html.EditorFor(m => m.Website)
<<<<<<< HEAD
<<<<<<< HEAD
    @Html.EditorFor(m => m.Country, "CountryDropDown")  
=======
    @Html.EditorFor(m => m.CountryId)  
>>>>>>> master
=======
    @Html.EditorFor(m => m.CountryId)  
>>>>>>> master
    <br />
    <div class="row">
        <div class="col-md-5 col-md-offset-2">
            <input type="submit" class="btn btn-default" value="Add Producer"/>
        </div>
    </div>
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


