@model SnapCot.Web.Areas.Private.ViewModels.MakeAnOrderViewModel
@using SnapCot.Data.Models
@{
    ViewBag.Title = "MakeOrderView";
}

@section customstyles {
    @Styles.Render("~/Content/jqueryui")
}

<h2>MakeOrderView</h2>

@using (Html.BeginForm("MakeOrder", "Orders", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Order</h4>

    @Html.ValidationSummary("", new { @class = "text-danger " })
    <div class="form-group">
        @Html.LabelFor(m => m.TotalPrice, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DisplayFor(m => m.TotalPrice, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.OrderDate, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DisplayFor(m => m.OrderDate, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ReceivedDate, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.ReceivedDate)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Terms, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.RadioButtonFor(m => m.Terms, ShippingTerms.Exworks, new { id = ShippingTerms.Exworks })
            <label for=@ShippingTerms.Exworks>@ShippingTerms.Exworks</label>
            @Html.RadioButtonFor(m => m.Terms, ShippingTerms.DdpDelivery, new { id = ShippingTerms.DdpDelivery })
            <label for=@ShippingTerms.DdpDelivery>@ShippingTerms.DdpDelivery</label>
        </div>
    </div>

    @Html.LabelFor(m => m.Mode, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.DropDownListFor(m => m.ModeId, new SelectList(Model.Mode, "Value", "Text"), new { @class = "form-control" })
    </div>

        <div class="form-group">
            @Html.LabelFor(m => m.CreditLimit, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DisplayFor(m => m.CreditLimit, new { @class = "form-control", @type = "number" })
            </div>
        </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-success" value="Order" />
                </div>
            </div>
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryui")
    <script>
        $(function () {
            $(".jqueryui-marker-datepicker").datepicker({
                dateFormat: "dd/mm/yy",
                changeYear: true,
                showOn: "button"
            }).css("display", "inline-block")
            .next("button").button({
                icons: { primary: "ui-icon-calendar" },
                label: "Select a date",
                text: false
            });
        })
    </script>
}

