@model SnapCot.Web.ViewModels.ProductViewModels.AddProductInputModel

@using (Html.BeginForm("AddToCart", "ShoppingCart", new { area = "Private" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="pull-right">
        @Html.ValidationSummary("", new { @class = "text-danger " })
        @Html.HiddenFor(m => m.Id)
        @Html.EditorFor(m => m.QuantityToOrder)
        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
        <input type="submit" class="btn btn-success" value="Add to cart" />
    </div>
}
