@model SnapCot.Web.ViewModels.ProductViewModels.DetailedProductViewModel
@{
    ViewBag.Title = "Details";
}

@section customstyles{
    @Styles.Render("~/Content/background")
    @Styles.Render("~/Content/listitems.css")
}

<div class="div-box-body product-details-background image-size enlarge">
    <div class="container div-box-content">
        <h2>Product Details</h2>
        <div class="image-position">
            <img src="@Url.Action("Image", "Products", new { id = Model.ImageId })" class="image-details" alt="@Model.Name" />
        </div>
        <div class="text-position">
            <h1>
                @Html.DisplayFor(m => Model.Name)
            </h1>
            <p>
                @Html.Raw(Model.Description)
            </p>
            <p>
                @Html.DisplayFor(m => Model.Price)
            </p>
            <p>
            <p>
                @Html.DisplayFor(m => Model.Quantity)
            </p>
            <p>
                @Html.DisplayFor(m => Model.Type)
            </p>
            <p>
                @Html.DisplayFor(m => Model.Classification)
            </p>
            <p>
                @Html.DisplayFor(m => Model.Producer)
            </p>
        </div>
        <div>
            <ul>
                @foreach (var industry in Model.Industry)
                {
                    <li>@industry.Name</li>
                }
            </ul>
        </div>
    </div>
</div>

